/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-color:black;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    height:100vh;
    padding:1%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 
.page-header{
	display:flex;
	flex-direction:column;
    width:90%;
}
.title{
    color:white;
    font-size:3rem;
    text-align:center;
    margin:1%;
}
.title span:nth-child(1){
color:#FD8C00
}
.title span:nth-child(2){
 color:  #FFE500
}
.title span:nth-child(3){
    color:#119F0B;
}
.title span:nth-child(4){
    color:#0644B3;
}
.title span:nth-child(5){
    color:#C22EDC;
}
.title span:nth-child(6){
    color:#FD8C00;
}
.title span:nth-child(7){
    color:#FFE500;
}
.title span:nth-child(8){
    color:#119F0B;
}
.title span:nth-child(9){
    color:#0644B3;
}
.title span:nth-child(10){
    color:#C22EDC;
}
.title span:nth-child(11){
    color:#FD8C00;
}
.title span:nth-child(12){
    color:#FFE500;
}
.title span:nth-child(13){
    color:#119f0b;
}
.main{
display:flex;
align-items:center;
justify-content:center;
width:90%;
}
textarea{
    width:60%;
    height:25vh;
    margin:3% 0;
    outline:none;
    border:3px solid yellow;
    
}
.hidden-keyboard{
    display:none;
    height:1px;
}
.keyboard{
	margin:auto;
    width:80%;
    padding:10px;
    background: linear-gradient(180deg, #FE0000 16.66%,
		#FD8C00 16.66%, 33.32%,
		#FFE500 33.32%, 49.98%,
		#119F0B 49.98%, 66.64%,
		#0644B3 66.64%, 83.3%,
		#C22EDC 83.3%);
    box-shadow:0 0 50px rgba(0, 0, 0, 0.5);
    user-select:none;
	border-radius:10px;
    position:sticky;
}
.keyboard  .animate__zoomIn{
    animation-duration: 1.2s;
}
.keyboard-keys{
    text-align:center;
}
 .animate__tada{
    animation-delay: 1.3s;
}
.individualKey{
    height:48px;
    width:7%;
    max-width:90px;
    margin:3px;
    border-radius:4px;
    border:none;
    background:rgba(255, 255, 255, 0.60);
    color:black;
	font-weight:900;
    font-size:1.05rem;
    cursor:pointer;
    display:inline-flex;
    align-items:center;
    justify-content:center;
    vertical-align:top;
    padding:0;
    -webkit-tap-highlight-color:transparent;
    position:relative;
}
.individualKey-activatable::after{
    content:"";
    top:10px;
    right:10px;
    position:absolute;
    width:8px;
    height:8px;
    background:rgba(0, 0, 0, 0.4);
    border-radius:50%;
}
.individualKey-dark{
    background:#333;
    color:#FFE500;
    border:2px black solid;
    opacity:70%;
}
.individualKey-active::after{
    background:black;
}
.individualKey:active{
    background:rgba(255, 255, 255, 0.22);
	color:white;
}
.individualKey:hover{
	transform: scale(1.1);
    border:1px solid black;
}
.individualKey-wide{
    width:12%;
}
.individualKey-x-wide{
    width:36%;
    max-width:500px;
}